<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Scribble</title>

		<!--Bootstrap-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

		<!--Vue.js-->
		<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>

		<!--Axios-->
		<script src="https://unpkg.com/axios@0.17.1/dist/axios.js"></script>



	</head>

	<body>
		<div id="app" class="container">

			<!--Navbar-->
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">Scribble</a>
					</div>
				</div>
			</nav>

			<div id="notes-list">
				<h6>Your notes: <button type="button" class="btn btn-link" @click="listNotes">(Refresh)</button></h5>

				<div v-if="notes.length == 0">
					No saved notes found!
				</div>
				<div v-else>
					<!--TODO load, delete -->
					<ul>
						<li v-for="note in notes">
							<button type="button" class="btn btn-link" @click="loadNote(note._id)">{{ note.title }}</button>
						</li>
					</ul>
				</div>
			</div>

			<button type="button" class="btn btn-primary" @click="createNewNote">
				Create new note
			</button>

			<hr>

			<form>
				<!--ID-->
				<div v-if="currentNote._id">
					<label for="note-id" class="form-label">ID</label>
					<input id="note-id" type="text" class="form-control" v-model="currentNote._id" readonly>
					<br>
				</div>

				<!--Title-->
				<label for="note-title" class="form-label">Title</label>
				<input id="note-title" type="text" class="form-control" v-model="currentNote.title" @change="markDirty">
				<br>

				<!--Text-->
				<label for="note-text" class="form-label">Text</label>
				<textarea id="note-text" class="form-control" v-model="currentNote.text" @change="markDirty"></textarea>
				<br>

				<!--Message area placeholder-->
				<div id="message-area">
					<!--Messages go here-->
				</div>

				<!--Actions-->
				<div>
					<!--Save/Delete if note exists-->
					<div v-if="currentNote._id">
						<button type="button" class="btn btn-primary .col-lg-2" @click="saveNote">
							Save
						</button>
						<button type="button" class="btn btn-danger .col-lg-2" @click="deleteNote">
							Delete
						</button>
					</div>

					<!--Create if note doesn't exist yet-->
					<div v-else>
						<button type="button" class="btn btn-primary .col-lg-2" @click="createNote">
							Create
						</button>
					</div>

				</div>

			</form>


		</div>

		<script src="/main.js"></script>

	</body>
</html>
